/* sidebar.css */
.sidebar {
    width: 250px;
    height: 100%;
    background-color: white; /* Set background color to white */
    color: black; /* Set text color to black */
    position: fixed;
    border-radius: 15px; /* Add rounded edges */
    overflow: hidden; /* Hide overflowing content */
    
  }
  
  .sidebar-item {
    padding: 10px 20px;
  }
  
  .sidebar-item a {
    color: black; /* Set link color to black */
    text-decoration: none;
    display: block;
  }
  
  .sidebar-item a:hover {
    color: #007bff;
  }
  
  .sidebar-item.active {
    font-weight: bold;
  }
  
  .sidebar-subitem {
    padding-left: 20px;
  }
  